* {
    font-family: Arial,Helvetica,sans-serif;
}
body{
    background-color: black;
    color: white;
}
article{
}
hr{
    height: 3px;
    background-color: darkblue;
}
h1{
    color: green;
    text-align: center;
    font-size: 45px;
}
.write-bold{
    font-weight: bold;
}
.menu-bar{
    text-align: center;
}
.text-is-weighted{
    font-weight: bolder;
}
.center-tag{
    text-align: center;
}
h2{
    text-align: center;
    color: green;
    font-size: 30px;
}
.heading-div{
    border: 5px outset darkblue;
    background-color: lightblue;
    text-align: center;
}
.menu-div{
    height: 55px;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;

}
.menu-bar-div {
    height: 55px;
    width: 100px;
    background-color: black;
    float: left;
    position: relative;
    text-align: center;
}
.menu-bar-div:hover{
    background-color: #202121;
}
.current-menu{
    height: 55px;
    width: 100px;
    background-color: yellowgreen;
    float: left;
    position: relative;
    text-align: center;
}
.menu-bar-text{
    color: greenyellow;
    text-align: center;
    text-decoration: none;
}
.current-menu-bar-text{
    color:black;
    text-decoration: none;
}
.under-menu-div{
    height: 40px;
    background-color: #2A2A2A;
    top: 55px;
    position: sticky;
}
.under-menu-section{
    height: 40px;
    width: 100px;
    background-color: #2A2A2A;
    float: left;
    position: relative;
    text-align: center;
}
.under-menu-text{
    color: white;
    text-decoration: none;
}
.tomato-color{
    color: tomato;
}
.orange-color{
    color: orange;
}
.blue-color{
    color: dodgerblue;
}
.green-color{
    color: mediumseagreen;
}
.slate-blue-color{
    color: slateblue;
}
.violet-color{
    color: violet;
}


